html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  max-width: 100%;
}

.card1 {
  max-width: 1400px;
  height: 550px;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 0 7px rgba(128, 128, 128, 0.651);
  margin-bottom: 100px;
}

.card2 {
  max-width: 1400px;
  height: 550px;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  background-color: white;
  box-shadow: 0 0 7px rgba(128, 128, 128, 0.651);
  margin-bottom: 100px;
}

.card-left {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.card-left2 {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.card-right {
  display: flex;
  flex-direction: column;
  background-color: rgba(230, 223, 212, 0.61);
  width: 45%;
}

.card-right2 {
  display: flex;
  flex-direction: column;
  background-color: rgba(230, 223, 212, 0.61);
  width: 50%;
}

.whiteSpace {
  display: flex;
  width: 5%;
  background-color: white;
}

.detail {
  background-color: rgb(131, 123, 110);
  color: white;
  text-decoration: none;
  position: absolute;
  padding: 30px;
  top: 60px;
  right: 0;
  font-size: 0.85rem;
  font-weight: 0;
}

.detail2 {
  background-color: rgb(131, 123, 110);
  color: white;
  text-decoration: none;
  position: absolute;
  padding: 30px;
  left: 0;
  top: 60px;
  font-size: 0.85rem;
  font-weight: 0;
}

.detail:hover,
.detail2:hover {
  background-color: rgb(88, 79, 65);
}

.description {
  margin-right: 80px;
  margin-bottom: 30px;
}

h1,     /*Myslím si, že font je ve skutečnosti jiný :-) */
span {
  font-weight: 400;
  font-size: 3.9rem;
  letter-spacing: -5px;
  line-height: 100%;
  display: block;
  color: black;
}

h1 {
  margin-left: 80px;
  margin-right: 80px;
  padding: 130px 0 0 0;
}

h2 {
  font-size: 0.9rem;
  color: rgba(116, 112, 107, 0.986);
  font-weight: 550;
  padding: 5px 0;
  text-transform: uppercase;
  margin-left: 80px;
  margin-right: 80px;
}
p {
  color: rgba(116, 112, 107, 0.575);
  margin: 30px;
  margin-left: 80px;
  font-size: 0.75rem;
}

/*---overflow---*/

#overflow {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(131, 123, 110);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(88, 79, 65);
}

/*---galerie---*/

.galerie {
  margin: 0;
  max-height: 550px;
  width: 100%;
  position: relative;
}

.mySlides {
  display: none;
}

img {
  object-fit: cover;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -60px;
  padding: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

img.arrows {
  max-height: 80px;
}

img.next,
img.prev {
  height: 130px;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.24);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .card1,
  .card2 {
    width: 750px;
    flex-direction: column;
    height: 1000px;
  }
  .card-left,
  .card-left2 {
    flex-direction: column;
    width: 100%;
    height: 550px;
  }
  .card-right,
  .card-right2 {
    flex-direction: column;
    width: 100%;
    height: 450px;
    margin: 0;
    padding: 10px;
  }
  h1 {
    padding: 10px;
  }
  .detail {
    top: 660px;
    padding: 15px;
  }
  .detail2 {
    top: 660px;
    padding: 15px;
    right: 0;
    margin-left: 566px;
  }
}
