html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  max-width: 100%;
}

.card1 {
  max-width: 1400px;
  height: 550px;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 0 7px rgba(128, 128, 128, 0.651);
  margin-bottom: 100px;
}

.card2 {
  max-width: 1400px;
  height: 550px;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  background-color: white;
  box-shadow: 0 0 7px rgba(128, 128, 128, 0.651);
  margin-bottom: 100px;
}

.card-left {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 550px;
}

.card-left2 {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 550px;
}

.card-right {
  display: flex;
  flex-direction: column;
  background-color: rgba(230, 223, 212, 0.61);
  width: 35%;
}

.card-right2 {
  display: flex;
  flex-direction: column;
  background-color: rgba(230, 223, 212, 0.61);
  width: 35%;
}

.whiteSpace {
  display: flex;
  width: 5%;
  background-color: white;
}

.detail {
  background-color: rgb(131, 123, 110);
  color: white;
  text-decoration: none;
  position: absolute;
  padding: 20px;
  top: 20px;
  right: 0;
  font-size: 0.85rem;
  font-weight: 0;
}

.detail2 {
  background-color: rgb(131, 123, 110);
  color: white;
  text-decoration: none;
  position: absolute;
  padding: 20px;
  /* left: 0; */
  top: 20px;
  font-size: 0.85rem;
  font-weight: 0;
}

.detail:hover,
.detail2:hover {
  background-color: rgb(88, 79, 65);
}

.description {
  margin-right: 40px;
  margin-bottom: 30px;
}

h1,     /*Myslím si, že font je ve skutečnosti jiný :-) */
span {
  font-weight: 400;
  font-size: 3.4rem;
  letter-spacing: -5px;
  line-height: 100%;
  display: block;
  color: black;
}

h1 {
  margin-left: 40px;
  margin-right: 40px;
  padding: 50px 0 0 0;
}

h2 {
  font-size: 0.9rem;
  color: rgba(116, 112, 107, 0.986);
  font-weight: 550;
  padding: 5px 0;
  text-transform: uppercase;
  margin-left: 40px;
  margin-right: 40px;
}
p {
  color: rgba(116, 112, 107, 0.575);
  margin: 30px;
  margin-left: 40px;
  font-size: 0.75rem;
}

/*---overflow---*/

#overflow {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(131, 123, 110);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(88, 79, 65);
}

/*---galerie---*/

.galerie {
  margin: 0;
  height: 550px;
  width: 100%;
  position: relative;
}

.mySlides {
  display: none;
}

img {
  height: 550px;
  object-fit: cover;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -60px;
  padding: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

img.arrows {
  max-height: 80px;
}

img.next,
img.prev {
  height: 130px;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.24);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .detail2 {
    left: 0;
  }
}

/*---992-1199---*/

@media (max-width: 1199px) and (min-width: 992px) {
  .card1,
  .card2 {
    max-width: 1170px;
    height: auto;
  }
  .card-left,
  .card-left2 {
    width: 60%;
    height: 400px;
  }

  img {
    height: 400px;
  }

  .card-right,
  .card-right2 {
    width: 35%;
    max-height: 400px;
    margin: 0;
    padding: 10px;
  }
  h1 {
    padding: 0;
  }

  .detail {
    top: 83px;
    padding: 15px;
    font-size: 0.6rem;
  }
  .detail2 {
    top: 83px;
    padding: 15px;
    left: 0;
    font-size: 0.6rem;
  }
  .prev,
  .next {
    top: 50%;
    margin-top: -130px;
  }
}

/*---766-991---*/

@media (max-width: 991px) and (min-width: 766px) {
  .card1,
  .card2 {
    max-width: 950px;
    flex-direction: column;
    height: auto;
  }
  .card-left,
  .card-left2 {
    flex-direction: column;
    width: 100%;
    height: 520px;
  }

  img {
    height: 520px;
  }

  .card-right,
  .card-right2 {
    flex-direction: column;
    width: 100%;
    max-height: 450px;
    margin: 0;
    padding: 10px;
  }
  h1 {
    padding: 0;
  }
  .detail {
    top: 593px;
    padding: 15px;
    font-size: 0.85rem;
  }
  .detail2 {
    top: 593px;
    padding: 15px;
    right: 0px;
    font-size: 0.85rem;
  }
}

/*---575-765---*/

@media (max-width: 765px) and (min-width: 575px) {
  .card1,
  .card2 {
    max-width: 700px;
    flex-direction: column;
    height: auto;
  }
  .card-left,
  .card-left2 {
    flex-direction: column;
    width: 100%;
    height: 380px;
  }

  img {
    height: 380px;
  }

  .card-right,
  .card-right2 {
    flex-direction: column;
    width: 100%;
    max-height: 450px;
    margin: 0;
    padding: 10px;
  }
  h1 {
    padding: 0;
  }
  .detail {
    top: 460px;
    padding: 15px;
    font-size: 0.7rem;
  }
  .detail2 {
    top: 460px;
    padding: 15px;
    right: 0px;
    font-size: 0.7rem;
  }
}

/*---480-574---*/

@media (max-width: 574px) and (min-width: 480px) {
  .card1,
  .card2 {
    max-width: 530px;
    flex-direction: column;
    height: auto;
  }
  .card-left,
  .card-left2 {
    flex-direction: column;
    width: 100%;
    height: 250px;
  }

  img {
    height: 250px;
  }

  .card-right,
  .card-right2 {
    flex-direction: column;
    width: 100%;
    max-height: 400px;
    margin: 0;
    padding: 10px;
  }
  h1 {
    padding: 0;
  }

  h1,
  span {
    font-size: 3.4rem;
  }

  .detail {
    top: 333px;
    padding: 10px;
    font-size: 0.6rem;
  }
  .detail2 {
    top: 333px;
    padding: 10px;
    right: 0;
    font-size: 0.6rem;
  }
}

/*---479---*/

@media (max-width: 479px) {
  .card1,
  .card2 {
    max-width: 530px;
    flex-direction: column;
    height: auto;
  }
  .card-left,
  .card-left2 {
    flex-direction: column;
    width: 100%;
    height: 250px;
  }
  img {
    height: 250px;
  }

  .card-right,
  .card-right2 {
    flex-direction: column;
    width: 100%;
    max-height: 400px;
    margin: 0;
    padding: 10px;
  }
  h1 {
    padding: 0px;
  }
  .detail {
    display: none;
  }
  .detail2 {
    display: none;
  }
  h1,
  span {
    font-size: 3rem;
  }

  h2 {
    font-size: 0.8rem;
  }
}
